<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Skeleton: Responsive CSS Boilerplate</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

<!--CSS 
---------------------------- -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }} ">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
<body>
<div class="section hero">
  <div class="container">
      <!-- this jinja template is expecting an argument `name` -->
      <h1>Hello, {{ name }}!</h1>
  </div>
</div> <!-- section hero class div -->

</html>
